.logo{
    width: 100px;
    height: 80px;
    margin-left: 10px;
}
nav{
    text-decoration: none;
    font-size: 25px;
    margin-left: 0px; 
    width: 100%;
    text-align: center;
    word-spacing: 70px;
    color: black;
}
.nava {
    color: white;
}
.navbar{
    background-color: rgb(48, 26, 4);
    text-decoration: none;
    margin-left: 10px;
    border: double 10px black;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nava:hover{
    color: black;
    text-decoration: none;
}
.h1img{
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-top: 30px;
    display: inline-block;
    
}
.tt{
    font-family:'Creepster', cursive;
    text-align: center;
    -webkit-text-stroke: 2px orange;
    margin-top: 30px;
    font-size: 100px;
    width: 100%;
}
.main {
    text-align: center;
}
.treats img {
    width: 400px;
    height: 350px;
    animation: hearthbeat 2s ease-in;
}

.container-fluid{
    background-color: black;
    background-image: url(images/360_F_175416312_CLaJROwFrbqcsuVkTiH5ru5e93NGCWTE.jpg);
    padding-left: 0;
    padding-right: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
   background-color: rgb(109, 41, 9);
   background-size:auto;
   cursor: url(images/hand-drawn-halloween-background_23-2149090854.jpg);
}
.line {
    border-top: 10px dotted white;
}
.row-info {
    width: 100%;
    text-align: center; 
    display: inline-block;
   
}
.info {
    text-align: center;
    display: inline-block;
    font-family: 'Creepster', cursive;
    color: black;
}

.anim1{
    width: 100px;
    height: 50px;
    margin-left: 170px;
}
.anim2{
    width: 100px;
    height: 50px;
    margin-right: 100px;
}
body {
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/spider.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/spider.gif"), auto;
}
.tt1{
    font-family:'Creepster', cursive;
    text-align: center;
    -webkit-text-stroke: 2px orange;
    margin-top: 30px;
    font-size: 35px;
    width: 100%;
}
.activities {
    text-align: center;
    font-size: 25px;
    
}
ul {
    list-style-type: none;
    color: white;
    font-size: 20px;
}
.animate__animated.animate__heartBeat {
    --animate-duration: 3s;
}
.animate__animated.animate__backInDown {
    --animate-duration: 2s;
}

.dropbtn{
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: tomato;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;

 .hover, .rotate {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.rotate:hover {
    transform: rotate(360deg);
}